{% extends 'base.html' %}
{% block content %}

{% if user.is_authenticated %}
    <h1 >Welcome {{ user.username }}!</h1>
        <form method="POST" action="{% url 'account' %}"><br>
            <h2>{{message}} </h2>
            {% csrf_token %}
            <input style="background-color:black; color: white; white; width: 200px;" type="password" name="oldpassword"  placeholder="Old Password"><br>
            <input style="background-color:black; color: white; white; width: 200px;" type="password" name="newpassword1" placeholder="New password"><br>
            <input style="background-color:black; color: white; white; width: 200px;" type="password"  name="newpassword2" placeholder="New password"><br>
            <input style="background-color:black; color: white; white; width: 200px;" type="submit" value="Change Password">
    </form>
<div class="row">
    <h1 >Your animes list</h1>
    {% for post, rating in anime %}
        <div style="margin-top: 30px; width: 255px; height: 750px;" class="col s4">
            <div style=" height: 450px; background-color:pink ; color: red;"  class="card">
                <div class="card-image">
                    <a href="{{post.image_url}}"><img src="{{post.image_url}}" alt=""></a>
                </div>
                <div class="card-action">
                    <h6>{{post.title}}</h6>
                </div>
                <div class="card-action">
                    <h6>{{post.type}}</h6>
                    <h6>{{post.id}}</h6>
                    <h6>{{post.genre}}</h6>
                    <form action="post">
                        <button style="background-color: pink;" formaction="delete_to_animelist/{{post.anime_id}}/"  type="submit">
                            <a class="btn-floating btn-large waves-effect waves-light grey darken-4"><i class="material-icons">delete_forever</i></a>
                        </button>
                        {% if rating %}
                            <a class="btn-floating right btn-large waves-effect waves-light green"><i class="material-icons">thumb_up</i></a>
                        {% else %}
                             <a class="btn-floating right btn-large waves-light red accent-4"><i class="material-icons">thumb_down</i></a>
                        {% endif %}
                    </form>
                </div>

            </div>
        </div>
    {% endfor %}
</div>
{% else %}
<h1>Please log in</h1>

{% endif %}
{% endblock content %}